<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/back :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1>Post list page</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dto : ${result.dtoList}">
                    <th scope="row">
                        <a th:href="@{/post/read(postId = ${dto.postId}, page=${result.page})}">
                        [[${dto.postId}]]
                        </a>
                    </th>
                    <td>[[${dto.title}]]</td>
                    <td>[[${dto.author}]]</td>
                    <td>[[${dto.content}]]</td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/post/list(page=${result.start-1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item' + ${result.page == page?'active':''}" th:each="page:${result.pageList}">
                <a class="page-link" th:href="@{/post/list(page=${page})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="oage-link" th:href="@{/post/list(page=${result.end+1})}">Next</a>
            </li>
        </ul>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal content text here.</p>
                    </div>
                </div>
            </div>
        </div>

    <script th:inline="javascript">
        var msg = [[${msg}]];
        console.log(msg);

        if(msg){
            alert('완료')
        }
    </script>
    </th:block>
</th:block>
</html>